<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>todolist</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/404-NOT-FOUND-animated.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/darkmode.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <%- include("./partials/nav.ejs") %>

  <section class="portfolio-block contact inverted-darkmode" style="background: #080808;color: rgb(255,255,255);">
    <div class="container">
              <!-- VIEW IN FULL SCREEN MODE FULL SCREEN MODE: http://salehriaz.com/404Page/404.html DRIBBBLE: https://dribbble.com/shots/4330167-404-Page-Lost-In-Space -->

        <div class="bg-purple">

          <div class="stars">
            <div class="central-body">
              <img class="image-404" src="/assets/img/muppers/404.svg" width="300px">
                <a href="./index" class="btn-go-home">HOME PAGE</a>
            </div>
            <div class="objects">
              <img class="object_rocket" src="/assets/img/muppers/rocket.svg" width="40px">
              <div class="earth-moon">
                <img class="object_earth" src="/assets/img/muppers/earth.svg" width="100px">
                <img class="object_moon" src="/assets/img/muppers/moon.svg" width="80px">
              </div>
              <div class="box_astronaut">
                <img class="object_astronaut" src="/assets/img/muppers/astronaut.svg" width="140px">
              </div>
            </div>
            <div class="glowing_stars">
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>

            </div>

          </div>

        </div>
    </div>
  </section>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/dropdown_stopper.js"></script>
  <script src="/assets/js/darkmode.js"></script>
</body>

</html>