<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>todolist</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/404-NOT-FOUND-animated.css">
    <link rel="stylesheet" href="assets/css/documentation.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/todo_style.css">
    <link rel="stylesheet" href="assets/css/scroll_up.css">
</head>

<body>
    
    <%- include("./partials/nav.ejs") %>
    <button class="btn btn-primary" id="back-to-top" type="button"><i class="fa fa-arrow-up"></i></button>
    <div class="container">
        <div class="mx-auto" style="margin-top: 30px;max-width: 900px;min-height: 250px;">
            <h1>Documentation</h1>
            <section class="doc-section">
                <ul>
                    <li><a href="#createAccount">Get Started</a></li>
                    <li><a href="#loginAccount">Log In</a></li>
                    <li><a href="#createTask">Create Tasks</a></li>
                    <li><a href="#closeTask">Close Tasks</a></li>
                    <li><a href="#optionMenu">Option Menu</a></li>
                    <li><a href="#changePassword">Change Password And Adding a Picture</a></li>
                    <li><a href="#resetPassword">How to reset my password if I forger?<br></a></li>
                    <li><a href="#activateToken">Activate Token for API Access</a></li>
                    <li><a href="#useAPI">Using Token with API</a>
                        <ul>
                            <li><a href="#getMethod">Get Method</a></li>
                            <li><a href="#postMethod">Post Method</a></li>
                            <li><a href="#putMethod">Put/ Update Method</a></li>
                            <li><a href="#deleteMethod">Delete Method</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <hr>
            <section class="doc-section">
                <h3 id="createAccount">Creating an account</h3>
                <p>Let's get started and create an account to enjoy the Todo list to its fullest! Creating an account is easy peasy, you are found on the home page you should see the <strong>Sign-Up</strong> button in the top right corner.&nbsp;&nbsp;<br></p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_1.1.png"></div>
                <p>Now you're on the Sign Up page. Creating your first account requires a few pieces of information such as name or full name, email address, and password to keep your data safe.<br>It is important to know that each field has different rules to fill out, but don't worry, it's simple, you won't take more than 1 min to complete the form.<br>The first field, the name, is up to 80 characters and only accepts the latter between A and Z, it can be lower or uppercase.<br>The second one is the email address. the email must be a valid one because you'll need it later to log in to your account.<br>The third file is your password. Safety is our first priority. A password has to be bigger than 8 characters and less than 180 ones.<br>Make sure to use the same password in the field for password confirmation.</p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_2.1.png"></div>
                <p>If you have filled out the form appropriately, click on the red Sign Up button. You'll be taken to the login page.</p>
            </section>
            <hr>
            <section class="doc-section">
                <h3 id="loginAccount">Logging your account</h3>
                <p>The login page requires a valid and registered email address. If you haven't created an account yet, click on <strong>Sign Up</strong>.<br>In this step, it is expected that you already have created a Todo List account.<br>Then, enter your password of 8 digits or more and click on the red <strong>login</strong> button. If the credentials are correct you'll be taken to the <strong>Todo List</strong> page. See how easy it's been to set up an account and be able to enjoy all benefits just us can offer for our precious friends. Be part of this new Todo List family and don't miss any more commitments.<br></p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_3.1.png"></div>
            </section>
            <hr>
            <section class="doc-section">
                <h3 id="createTask">Creating a Task</h3>
                <p>If creating an account was easy we'll blow your mind when you learn how easy, and simple is to create a task.<br>Below you'll see an empty input text ready for an exciting day full of your goals for a bright success.<br>Don't wait, type your first task and press the <strong>Add</strong> button.</p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_4.1.png"></div>
                <p>Each new task will be queued underneath. Notice that a task has an X icon on the far right. If you made a mistake you can easily remove the task.</p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_5.1.png"></div>
            </section>
            <hr>
            <section class="doc-section">
                <h3 id="closeTask">Closing Task</h3>
                <p>Sometimes even when a task was done we prefer to keep them to make sure we haven't forgotten anything. If you want to mark a task as done but want to keep it you can click on the task. The task status will change to a cross-out status.<br>Don't worry if you marked a task as done, to undo it click on it again. The status should change immediately.</p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_6.1.png"></div>
            </section>
            <hr>
            <section class="doc-section">
                <h3 id="optionMenu">Todo List Option Manu</h3>
                <p>We designed quick menu navigation because we value your time. Time is money and we want to give you a little hand to achieve your success. Don't mix up appointments anymore.<br>On the top right corner, you'll find a dropdown menu that displays your name. Click on it and it should expand, revealing the settings, and log out options. The Todo-list option brings you back to your tasks.<br>If you click on Log out you'll leave Todo List, but it's ok, you can still access your tasks by logging. All your tasks are safe stored on your platform and we respect your privacy. Each page uses a token to avoid Cross-Site Request Forgery. All passwords are encrypted to guarantee your data protection.<br><br>Settings let you change your password if you feel that your password is not strong enough, or you might want to change for something you're more likely to remember. Customize your Todo List and add a beautiful and happy picture.<br>Settings count with an option to allow integration with your tasks. We're always seeing ahead.<br></p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_7.1.png"></div>
            </section>
            <hr>
            <section class="doc-section">
                <h3 id="changePassword">Changing Password And Adding a Picture</h3>
                <p>To change your password or add a picture you can access this option by clicking on your profile (top right corner) and selecting the settings option. If you can't find a dropdown menu look at the step above about <a href="#optionMenu"><strong>Option Menu</strong></a><strong>.</strong><br>To add a picture click on any part of the box of a silhouette. Once you have selected a picture click on the Upload button to update your profile picture.<br>If you selected the wrong picture or just don't want to have any picture in your profile, press then the remove button.<br>To change the password type the new password in both password fields. Don't forget a password must be bigger than 8 characters and smaller than 160 characters. If both fields are filled out, press the Save button to apply the new changes.<br>Unfortunately, you can't change your username and your email. To prevent fraud username and email must be immutable.<br></p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_8.1.png"></div>
                <p>See below an example of a profile with a picture and changing the password.</p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_8.2.png"></div>
            </section>
            <hr>
            <section class="doc-section">
                <h3 id="resetPassword">How to reset my password if I forger?</h3>
                <p>If you don't remember your password, don't worry we have an email system to send you a link to reset your password with safety and security. We have taken care of everything to make your life a lot easier.<br>To request a password reset you don't need to send an email or phone you can do it automatically. Go to the login page and click on the option called <strong>Forgot your password</strong>. A window with a for should popup.<br></p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_9.3.png"></div>
                <p>Make sure to enter a valid password. After requesting a password reset you'll get a confirmation in this popup window.<br>You might have to wait a couple of minutes to get the email. If you don't see any email check or the spam box.<br>If you don't have a valid email you'll never receive it. If you don't have a registered email or misspell it you'll get an alert message.<br>If you got an email to reset your password you must use it within <strong>30 minutes</strong>&nbsp;or the link will have expired. If you use the link and reset your password but you make a mistake and don't know the new password you can't reuse the link. You have to make a new request.</p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_9.4.png"></div>
                <p>When you click on the link in the email body you should be redirected to a page ready to reset your password. If you click on the link and it doesn't work, see if your email provider is set to block external access.<br>You can also click on the link with the right button end copy the link address. If you're accessing it from your mobile phone, click on and hold it until an option display to copy the link. Once you copied the link paste it in your browser and press enter.<br><br>To reset your password is straightforward, fill out the fields, make sure both fields have the same password, then press the&nbsp;<strong>Submit</strong>&nbsp;button.</p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_9.5.png"></div>
            </section>
            <hr>
            <section class="doc-section">
                <h3 id="activateToken">Activating Token / API</h3>
                <p>You might want to synchronize or add functionalities from other vendors. For this, we provide a safe way to let your application access your tasks or share your tasks with other platforms.<br>The group Authorization provides a switch to generate and allow access to your tasks via a token. It is important to highlight this authorization doesn't authorize external apps to access your profile information such as password, picture, and name.<br>Whenever you want you can generate a new token or disable this option. If you have generated a token and switch off and on the previous token is no longer valid.&nbsp;</p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_9.1.png"></div>
                <p>For your safety you can't edit the token it's generated automatically. To make your life easier you can click on the little square icon on the right to copy the token, or you can also select the token and copy.</p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_9.2.png"></div>
            </section>
            <hr>
            <section class="doc-section">
                <h3 id="useAPI">Using API</h3>
                <p>If you want to test the API before integrating it with your application you can use software to send requests and pass the token in the header of the request.<br>We don't have a sponsor or any connection with Postman service, but we recommend it since it's been a free and stable solution. We highlight we're not responsible for any function issue, bugs, or security flaws.<br>You can download it for free by clicking on here, <a href="https://www.postman.com/"><strong>Postman</strong></a>.<br><br>You can also test our API on your mobile phone, download it for free&nbsp;&nbsp;<a href="https://play.google.com/store/apps/details?id=com.ab.apiclient&amp;hl=en_US&amp;gl=US"><strong>ApiClient : REST API Client</strong></a>. And again we highlighted we don't have any responsibility regardless of this Android App.</p>
                <h5 id="getMethod">Get Method</h5>
                <p>To test a get method you should copy the website address and add the <strong>/api </strong>endpoint. Go to the Headers, create a key called <strong>Authorization</strong>&nbsp;and paste in the value field your token. Make sure the request method is a get one. Click on the send <strong>Send</strong>&nbsp;button.<br>This example was done in Postman.<br>If you don't know how to enable and get a token to follow this <a href="#activateToken"><strong>step.</strong></a><br>If you have used a valid token and place it in the request header you should get a response from the server. If you get a <strong>Forbidden </strong>message generate a new token and make sure the key name is correct.</p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_10.1.png"></div>
                <h5 id="postMethod">Post Method</h5>
                <p>To test a post method you should copy the website address and add the&nbsp;<strong>/api&nbsp;</strong>endpoint. Go to the Headers, create a key called&nbsp;<strong>Authorization</strong>&nbsp;and paste in the value field your token. Make sure the request method is a post one. Before sending a post request you have to create a called <strong>task</strong>&nbsp;with any value in the request body. This value will be your task description. Now you can press <strong>Send </strong>button and see the magic happening. The response should be OK or status 200. If you get a <strong>Forbidden</strong>&nbsp;messages generate a new token and make sure the key name is correct.&nbsp;<br>If you don't know how to enable and get a token to follow this&nbsp;<a href="#activateToken"><strong>step.</strong></a><br>If you have used a valid token and place it in the request header you should get a response from the server.<br><br>If you get a response <strong>Method Not Allowed</strong>&nbsp;you can troubleshoot by checking if you have only one key or if there is any spelling mistake.<br></p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_10.2.png"></div>
                <p>You check if the new task was created indeed by the API. Use a get method to retrieve all objects.<br>If you aren't familiar with a get method you can read more about it&nbsp;<a href="#getMethod"><strong>here</strong></a>.</p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_10.3.png"></div>
                <h5 id="putMethod">Put / Update Method</h5>
                <p>To test a put method you should copy the website address and add the <strong>/api</strong> endpoint. Go to the Headers, create a key called <strong>Authorization</strong> and paste in the value field your token. Make sure the request method is a post one. Before sending a put request to update a task you have to create two keys in the body request. One key is the targeted task ID and the second one is the task status. See an example below. It should return OK or response 200.&nbsp;If you get a&nbsp;<strong>Forbidden</strong>&nbsp;message generate a new token and make sure the key name is correct.&nbsp;If you don't know how to enable and get a token to follow this&nbsp;<a href="#activateToken"><strong>step.</strong></a><strong>&nbsp;</strong><br>If you have used a valid token and place it in the request header you should get a response from the server.<br><br>If you get a response&nbsp;<strong>Method Not Allowed</strong>&nbsp;you can troubleshoot by checking if you have only one key or if there is any spelling mistake.<br></p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_10.4.png"></div>
                <p>You check if the task was updated indeed by the API. Use a get method to retrieve all objects.<br>If you aren't familiar with a get method you can read more about it&nbsp;<a href="#getMethod"><strong>here</strong></a>.<br>Now you can enjoy a sunny day on the beach and tell your friends how Todo List takes care of the messy routine while you take of yourself.</p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_10.5.png"></div>
                <h5 id="deleteMethod">Delete Method</h5>
                <p>Let's get started and create an account to enjoy the Todo list to its fullest! Creating an account is easy peasy, you are found on the home page you should see the <strong>Sign-Up</strong> button in the top right corner.&nbsp;<br></p>
                <div class="image-wrapper"><img class="shadow" src="assets/img/ducumentation/img_10.6.png"></div>
            </section>
        </div>
    </div>

    <%- include("./partials/footer.ejs") %>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/scroll_up.js"></script>
</body>

</html>