html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.img-mini {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 10px;
}

.navbar-brand {
    height: 50px;
}

.group-form-icon input {
    display: inline;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 5px;
    padding-right: 25px;
    margin-right: -25px;
}
  
.group-form-icon span {
    cursor: pointer;
}

input.form-control:hover + span i {
    opacity: 0.5; 
}

.group-form-icon span i { opacity: 0; }
.group-form-icon span i:hover { opacity: 1; }

@media (min-width: 300px) {
    .login-signup {
        float: right;
    }
    .dropdown {
        float: right;
    }
    .dropdown-menu {
        transform: translateX(-40%);
    }
}

@media (min-width: 992px) {
    .dropdown-menu {
        transform: translateX(0);
    }
}